---
---

@import "{{ site.theme }}";
body {
	background-color: #1e1e1e;
	color: #fafbfc;
}
a {
	color: #0366d6;
}
table
{
	background-color:#ffffff;
}
tr
{
	background-color:#333333;
	color:#fafbfc;
}
tr:nth-child(odd) {
	background-color: #595959;
}
