---
---

@import "{{ site.theme }}";
body {
	background-color: #1e1e1e;
	color: #fafbfc;
}
a {
	color: #0366d6;
}
.markdown-body table tr th{
    background-color:#1e1e1e;
    color:#fafbfc;
    border-top: 1px solid #fafbfc;
}
.markdown-body table tr:nth-child(odd) {
	background-color: #333333;
}
.markdown-body table tr:nth-child(even) {
	background-color: #1e1e1e;
}
